# fly.toml app configuration file generated for oddish on 2026-02-06T18:21:34-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'oddish'
primary_region = 'gru'
kill_signal = 'SIGTERM'

[build]

[deploy]
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'fazenda.manuelsantana.xyz'
  PORT = '8080'
  PHX_SERVER = 'true'

[processes]
  app = '/app/bin/oddish start'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  size = 'shared-cpu-1x'
  memory = '1024mb'
